* {
  background-color: lightgray;
}

body {
  display: flex;
  justify-content: center;
}

main {
  text-align: center;
  font-family: mouse memoirs;
}

h1 {
  font-size: 100px;
  margin-bottom: 5px;
  margin-top: 20px;
  color: rgb(101, 151, 25);
}
p,
li {
  font-family: lucida Grande;
}

li {
  list-style: none;
  text-align: left;
  padding: 3px;
}

button:hover {
  background-color: rgb(220, 168, 83);
}

#reset, #dev-mode{
  width: 200px;
  height: 35px;
  
  background-color: rgb(50, 46, 46);
  color: white;
  font-size: large;
  font-family: Mouse memoirs;
  margin-bottom: 15px;
}

#dev-mode {
  margin-left: 10px;
}

#veggies-title {
  color: rgb(101, 151, 25);
  text-decoration: line-through;
  text-decoration-color: red;
}
#rules {
  max-width: 700px;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
}

.safe, .bomb {
    border: 1px solid black;
    background-color: #d19745;
    border-radius: 2px;
}

.safe{
  color: black;
  font-size: 25px;
}