* {
  font-family: lucida Grande;
}

body {
  background-color: #c1c1c1;
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin: 0;
}

.sidebar {
  background-color: #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  height: 100vh;
}

.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tips > h2 {
  margin: none;
}

ul {
  width: 75%;
  padding: 0;
  border-radius: 15px;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

h1,
#veggies-title {
  font-family: mouse memoirs;
  font-size: 65px;
  margin-bottom: 5px;
  margin-top: 20px;
  color: rgb(101, 151, 25);
}

#veggies-title {
  text-decoration: line-through;
  text-decoration-color: red;
}

button {
  background-color: rgb(101, 151, 25);
  border-radius: 10%;
  width: max-content;
  height: 30px;
}

.active {
  background-color: rgb(220, 168, 83);
}

.inactive {
  background-color: #b4b4b4;
}

.nav-footer {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
}

.safe,
.bomb {
  border: 1px solid black;
  background-color: #d19745;
  border-radius: 2px;
}

.safe {
  color: black;
  font-size: 25px;
}
